ENVIRONMENT=development
DB_DRIVER=postgres
DB_SOURCE=postgresql://default:secret@localhost:5432/simple_bank?sslmode=disable
MIGRATION_URL=file://db/migration
HTTP_SERVER_ADDRESS=0.0.0.0:8012
GRPC_SERVER_ADDRESS=0.0.0.0:8014
TOKEN_SYMMETRIC_KEY=random_32_bytes_string
TOKEN_ACCESS_DURATION=15m
REFRESH_TOKEN_DURATION=24h
REDIS_ADDRESS=0.0.0.0:6379

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SENDER_NAME=SimpleBank
SMTP_SENDER_ADDRESS=no-reply@simplebank.dev